workflows/Restore n8n Credentials from GItHub (PGP encrypted).json
{
  "active": false,
  "connections": {
    "Split the result": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all files in given path": {
      "main": [
        [
          {
            "node": "Split the result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file content from GitHub": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals_restore": {
      "main": [
        [
          {
            "node": "Get all files in given path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Globals_restore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for skipped Credentials1": {
      "main": [
        [],
        [
          {
            "node": "Restore n8n Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "PGP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PGP": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Get file content from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Check for skipped Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-18T19:15:02.575Z",
  "id": "DAAUTlCbiQ9KTshG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Restore n8n Credentials from GItHub (PGP encrypted)",
  "nodes": [
    {
      "parameters": {
        "content": "## Restore n8n Credentials from GitHub  (PGP encrypted) \n\nThis workflow restores or imports credentials from GitHub that were previously created by my workflow **Backup n8n Credentials to GitHub (PGP encrypted)**.\n\nThe files are loaded from the specified repository and path (see setup).\n\nMWa 2025",
        "height": 417,
        "width": 365,
        "color": 4
      },
      "id": "6a9d043e-6097-4917-ba3e-9dc92085ed7b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "0cfbeaf0-c2ea-46d9-9387-ecebd9881452",
      "name": "Get all files in given path",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        960,
        1700
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "Xbn43nvsm3Cw7DC7",
          "name": "GitHub (n8n-backup)"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "path",
        "options": {}
      },
      "id": "d8b179a0-e566-4627-91a5-6cd8c2ee65cf",
      "name": "Split the result",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1180,
        1700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "=https://github.com/{{ $('Globals_restore').item.json.repo.owner }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "=https://github.com/{{ $('Globals_restore').item.json.repo.owner }}/{{ $('Globals_restore').item.json.repo.name }}",
          "mode": "url"
        },
        "filePath": "={{ $('Get all files in given path').item.json.path }}",
        "additionalParameters": {}
      },
      "id": "454eed2e-60dd-4cc6-a512-f2b99dc88702",
      "name": "Get file content from GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        1620,
        1700
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "eb87d373-e7a8-48b9-ba69-28dfc5481058",
      "credentials": {
        "githubApi": {
          "id": "Xbn43nvsm3Cw7DC7",
          "name": "GitHub (n8n-backup)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Restore from GitHub \nThis workflow will restore/import given credentials from GitHub backups.\n\n\n\n",
        "height": 120,
        "width": 320,
        "color": 3
      },
      "id": "78c69955-5de7-4327-b5d1-76ed01c381a4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        2140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository.\n\n\nIf your username was `john-connor` and your repository was called `n8n-backups` and you stored credentials to /credentials` folder you would set:\n\n- repo.owner - john-connor\n- repo.name - n8n-backup\n- repo.path - credentials/",
        "height": 420,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        1120
      ],
      "id": "e0e3541c-0811-40fc-9c6c-6c5b0949f9be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "mwaldegg"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-backup"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "={{$env.N8N_HOST}}/credentials_enc/"
            }
          ]
        },
        "options": {}
      },
      "id": "29bd1dde-7e85-4940-baf7-164573d40d69",
      "name": "Globals_restore",
      "type": "n8n-nodes-base.set",
      "position": [
        740,
        1700
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Restore Part\n**Enter Credential ID to restore from Github to n8n",
        "height": 660,
        "width": 2400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        1600
      ],
      "id": "ae4a3103-8dd7-46cd-9d3d-ff3af0e5b00b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": ":warning: **WARNING:** When exporting workflows and credentials, n8n also exports their IDs. If you have workflows and credentials with the same IDs in your existing database, they **may** be overwritten.  \nHowever, this does **not always happen reliably**, which can lead to duplicates or unexpected behavior.  \nTo avoid this, delete or change the IDs before importing.",
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1860,
        1120
      ],
      "id": "a72c9df4-620a-4841-b425-08717aafb683",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "formTitle": "Credential Restore",
        "formDescription": "Which cretential entry to restore?",
        "formFields": {
          "values": [
            {
              "fieldLabel": "ID",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        440,
        1700
      ],
      "id": "9188d76f-7c3a-4863-bbed-028a96f02c30",
      "name": "On form submission",
      "webhookId": "fb4469e0-6974-4473-838b-fe80df6736c2"
    },
    {
      "parameters": {
        "resource": "credential",
        "name": "={{ $json.data.name }}",
        "credentialTypeName": "={{ $json.data.type }}",
        "data": "={{ JSON.stringify($json.data.data) }}",
        "requestOptions": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "bef7ba90-4c99-41b3-8268-4fc16eb1ca61",
      "name": "Restore n8n Credentials",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1700,
        1960
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "0hY6siEzlphSiVR9",
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ad031296-4ac0-4087-bc35-7975a2cc25e6",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.data }}",
              "rightValue": ""
            },
            {
              "id": "ca912a57-6a4b-4b9a-be0e-37b69d3e4917",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.data.name }}",
              "rightValue": "n8n account"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f8bcae44-6d44-4110-8002-c79d31bd4946",
      "name": "Check for skipped Credentials1",
      "type": "n8n-nodes-base.if",
      "position": [
        1420,
        1940
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "decrypt",
        "type": "string",
        "text": "={{ $json.data }}"
      },
      "type": "n8n-nodes-pgp.PGP",
      "typeVersion": 1,
      "position": [
        760,
        1940
      ],
      "id": "a2c74752-c358-488b-923b-4ce3fdf22b1f",
      "name": "PGP",
      "alwaysOutputData": true,
      "credentials": {
        "pgpKey": {
          "id": "FDGny40wZtf3nUVH",
          "name": "PGP Private"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1800,
        1700
      ],
      "id": "de5f4c44-4bec-42b3-b01a-511f76d548c5",
      "name": "Extract from File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "decrypted",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        980,
        1940
      ],
      "id": "32fbddcc-833f-478f-a867-5018f794a32b",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1200,
        1940
      ],
      "id": "893afe8c-74a9-4bf0-b075-3b3178ae7ada",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "052f8554-e63d-4a68-9c3b-4a1e8995a959",
              "leftValue": "={{ $('Get all files in given path').item.json.name }}",
              "rightValue": "={{ $('On form submission').item.json.ID }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e32f84ac-7345-4cb2-96e2-f6cfd814b8ff",
              "leftValue": "={{ $('On form submission').item.json.ID }}",
              "rightValue": "ALL",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1400,
        1700
      ],
      "id": "78f32149-b578-4053-bb57-a4a0a013b339",
      "name": "Filter1"
    },
    {
      "parameters": {
        "content": "### Usage\n\n- Start the workflow using **\"Test Workflow\"**.  \n- Enter the **ID** of the credentials you want to restore.  \n- Alternatively, you can enter **\"ALL\"** to restore all credentials from the repository – **use with caution**, as this can overwrite existing credentials with the same name.  \n- Enjoy your restored credentials.",
        "height": 420,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        1120
      ],
      "id": "7ed5e23f-7d57-4b6f-83d8-2d9bd3fbd664",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-18T07:32:15.507Z",
      "updatedAt": "2025-04-18T07:32:15.507Z",
      "id": "HRxKEvav7fZAeLNd",
      "name": "backup"
    },
    {
      "createdAt": "2025-04-18T08:12:43.340Z",
      "updatedAt": "2025-04-18T08:12:43.340Z",
      "id": "JEbqNIF4CIyavejD",
      "name": "share"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-19T14:07:37.000Z",
  "versionId": "1d97c99f-6464-497f-b882-ca27532b67ed"
}